* {
    font-family: 'Montserrat', sans-serif;
}

body{
    background-size: cover;
    background-repeat: repeat-y;
}

@media (max-width: 1150px){
    body{
        
        background-size: 315%; 
        background-repeat: repeat-y;
    }
}

@media (max-width: 800px){
    body{
        background-size: 265%; 
        background-repeat: repeat-y;
    }
}

#todolistlogo{
    font-weight: bolder;
    font-size: 48px;
    font-style: italic;

}

#task-lists-title{
    font-weight: bold;
    font-size: larger;
}

